/db.sqlite3
/venv
__pycache__/
*.pyc
.DS_Store
.env
.idea/
.vscode/
*.log
/tests/__pycache__/
/tests/*.pyc
coverage.xml
htmlcov/        
.tox/
.pytest_cache/
migrations/
/staticfiles/
/media/
/local_settings.py
*.sqlite3
*.pot
*.mo